@import '@picocss/pico';


@media (prefers-color-scheme: light) {
    html:not([data-theme=dark]) {
        background-color: #dee6ed;
    }
}

html[data-theme=light] {
    background-color: #dee6ed;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#menu {
    padding: 0 1rem;
}

#menu li a {
    display: flex;
}

#menu ul[role="listbox"] {
    box-shadow: 10px 10px 20px rgb(0 0 0 / 10%);
}

#menu ul[role="listbox"] li a {
    min-width: 12rem;
    justify-content: space-between;
}

body > main {
    flex-grow: 1;
    padding: 1rem;
    border-radius: 3.8rem;
    overflow: hidden;
}

#text-input {
    height: 100%;
}

body > footer {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--table-row-stripped-background-color);
}

body > footer * {
    min-width: 5rem;
}

dialog > article {
    min-width: 35vw;
}