@import '@picocss/pico';


html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#menu {
    padding: 0 1rem;
}

#menu li a {
    min-width: 12rem;
    display: flex;
    justify-content: space-between;
}

body > header {
    padding: 0 1rem;
}

header form, header fieldset {
    margin: 0;
}

.search-field {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.search-field input, .search-field, button {
    width: auto;
    margin: 0;
}

body > main {
    flex-grow: 1;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

main textarea {
    height: 100%;
    resize: none;
}

body > footer {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--table-row-stripped-background-color);
}

body > footer * {
    min-width: 5rem;
}

dialog > article {
    min-width: 35vw;
}